# Configure Database

default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  username: <%= ENV["DATABASE_USERNAME"] %>
  password: <%= ENV["DATABASE_PASSWORD"] %>

development:
  <<: *default
  encoding: unicode
  database: <%= ENV["DEVELOPMENT_DATABASE"] %>
  host: <%= ENV["DATABASE_HOST"] %>

test:
  <<: *default
  encoding: unicode
  database: <%= ENV["TEST_DATABASE"] %>
  host: <%= ENV["DATABASE_HOST"] %>

production:
  <<: *default
  encoding: unicode
  database: <%= ENV["DEVELOPMENT_DATABASE"] %>
  host: <%= ENV["DATABASE_HOST"] %>